site_name: AI Racer Workshops
theme:
  name: material
  features:
    - navigation.sections
    - toc.integrate
    - content.code.copy
markdown_extensions:
  - toc:
      permalink: true
nav:
  - Home: index.md
  - Other Page: other-page.md
