site_name: AI Racer Workshops
theme:
  name: material
  palette:
    primary: red
    accent: orange
  features:
    - navigation.sections
    - toc.integrate
    - content.code.copy
markdown_extensions:
  - toc:
      permalink: true
