site_name: AI Racer Workshops
theme:
  name: material
  palette:
    # Light mode
    - scheme: default
      primary: red
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: red
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.sections
    - toc.integrate
    - content.code.copy
markdown_extensions:
  - toc:
      permalink: true
